body {
    margin: 0;
    background-color: #51b8e1;
}

button {
    text-align: center;
}

#music-controls {
    margin: 0;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    width: 100%;
}